body {
  margin-right: 20%;
  margin-left: 20%;
  font-family: Calibri;
}

header {
  background-color: #000000;
}

aside {
  float: right;
  border: 2px solid;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  clear: left;
  clear: right;
}

h1 {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: normal;
  padding-left: 20px;
  clear: both;

}

nav {
}

.grey-font {
  color: #b1afb6;
  padding-left: 20px;
}
.grey {
  background-color: #b1afb6;
}

.red {
  color: #cc0000;
  float: right;
}

.article {
  float: left;
  margin: 1.5%;
  width: 60%;
}
