.black {
  background-color: #000000;
}

.grey {
  background-color: #b1afb6;
}

.red {
  color: #cc0000;
  float: right;
}

.white {
  color: #FFFFFF;
  padding-left: 20px;
}

.article {
  float: left;
  margin: 1.5%;
  width: 60%;
}

.aside {
  float: right;
}

.footer {
  clear: left;
  clear: right;
}
