body {
  margin-right: 25%;
  margin-left: 25%;
  font-family: Calibri;
}

header {
  background-color: #000000;
  height: 150px;
  padding: 3px 3px;
  align-items: baseline;
}

nav {
  background-color: #b1afb6;
  align: center;
  padding-top: 1px;
}

h1 {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: normal;
  /*padding-top: 50px;*/
  padding-left: 20px;
  clear: both;
}

h2 {
  font-weight: normal;
}

h3, h4 {
  font-size: 16px;
  font-weight: normal;
}

section {
  overflow: auto;
}

article {
  float: left;
  margin: 2%;
  width: 50%;
}

aside {
  float: right;
  border: 1px solid;
  margin: 3%;
}

footer {
  background-color: #000000;
  color: #FFFFFF;
  clear: left;
  clear: right;
}

.red {
  color: #cc0000;
  float: right;
  padding-right: 5px;
}

#grey {
  color: #b1afb6;
  padding-left: 20px;

}
